:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logout {
    color:#F20000 !important;
    font-weight: 700;
}

#avatar_profile {
    border-radius: 100%;
    width: 50px;
}

#nav_profile_btn {
    display: flex;
    align-items: center;
}

#nav_profile_menu {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.nav_username {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 3px;
}

.nav_role {
    font-weight: 200;
    color: #9A9AB0;
}

#header_nav_items {
    display: flex;
    justify-content: center;
}

#header_nav_items button {
    margin: 0 5px;
}

.btn-nav-items:hover {
    background-color: #5541D7;
}

header {
    position: fixed;
    top: 0;
    padding: 10px 5% 10px 2%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    border-bottom: 1px #E1E1E1 solid;
    background-color: white;
}

.children_components {
    padding: 4% 0% 0% 135px;
}

#navigation_sidebar {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navigation_sidebar button {
    width: 75%;
    height: 80px;
    border-radius: 15%;
}

#navigation_sidebar button:hover {
    background-color: #5541D7;
}

#public_layout {
    background-color: #F7F7FC;
    width: 100%;
    height: 100vh;
}

#sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100px;
    border-right: 1px #E1E1E1 solid;
    background-color: white;
}

.p-button {
  border: none;
  background-color: #272C60;
}

.p-button:hover {
  background-color: #4850b1 !important;
}

p {
  color: black;
}

fieldset {
  outline: none;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

label {
  color: black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
